<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <title>主机在线状态监测管理系统</title>
    <link rel="StyleSheet" href="../static/css/chart.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
<form id="form1" name="form1" method="get" action="">
    <div class="widget widget-table">
        <div class="widget-header">
            <i class="icon-th-list"></i>

            <h3>网络状态显示（当前为管理员用户，能添加删除ip）</h3>
        </div>
        <div class="widget-content">
            <table class="table table-striped table-bordered" table border="0" cellpadding="0" cellspacing="0"
                   id="tabProduct">
                <thead>
                <tr>
                    <td class="hidden">id</td>
                    <td bgcolor="#EFEFEF" EditType="TextBox">主机</td>
                    <td bgcolor="#EFEFEF" EditType="TextBox">是否可达</td>
                    <td bgcolor="#EFEFEF" EditType="TextBox"></td>
                    <td bgcolor="#EFEFEF" EditType="TextBox"></td>
                    <td bgcolor="#EFEFEF" EditType="TextBox"></td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <br/>
        <a href="/add/" type="button" name="Submit" class="btn btn-success pull-right add2">添加主机</a>
        <a href="/add2/" type="button" name="Submit" class="btn btn-success pull-right add2">添加网段</a>
        <a href="/refresh/" type="button" name="Submit" class="btn btn-success pull-right">刷新</a>
        <a href="/account/logout/" type="button" name="Submit" class="btn btn-success pull-right">注销</a>
    </div>
</form>


<script>
    $(document).ready(
            $("#tabProduct").on('click', ".btnDel", function () {
                        $.ajax({
                            url: "/del/",
                            type: "GET",
                            data: {"todoid": $(this).parent("td").siblings("td.hidden").text()},
                            dataType: "JSON",
                            success: function (data) {
                                reload_table();
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                reload_table();
                                alert('删除错误！');
                            }
                        })
                }
            ),
            reload_table()
    )

    function reload_table() {
        $.ajax({
            url: "/todogetlist/",
            type: "get",
            dataType: "JSON",
            success: function (data) {
                $("#tabProduct").children("tbody").empty()
                var htmlstr = ""
                for (var i = 0; i < data.todolist.length; i++) {
                    htmlstr = htmlstr + "<tr>\n" +
                            "<input type=\"hidden\" value=\"\" name=\"id\"/>\n" +
                            "<td class='hidden'>" + data.todolist[i].ip + "</td>\n" +
                            "<td bgcolor=\"#FFFFFF\">" + data.todolist[i].ip + "</td>\n" +
                            "<td bgcolor=\"#FFFFFF\">" + data.todolist[i].content + "</td>\n" +
                            "<td class=\"text-center\">\n" +
                            "<a " + data.todolist[i].id + " type=\"button\" name=\"Submit2\" class=\"btnDel\">删除</a>\n" +
                            "<a href=\"/update/?todoid=" + data.todolist[i].id + "\" type=\"button\" name=\"Submit2\">编辑</a>\n" +
                            "<a href=\"/history/?todoid=" + data.todolist[i].ip + "\" type=\"button2\" name=\"Submit2\">查看历史记录</a>\n" +
                            "</td>\n" +
                            "</tr>";
                }
                $("#tabProduct").children("tbody").html(htmlstr);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('获取数据错误');
            }
        });
        setTimeout(reload_table, 5000);
    }
</script>
</body>
</html>
