<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <title>主机历史数据</title>
    <link rel="StyleSheet" href="../static/css/chart.css">
</head>

<body>
<form id="form1" name="form1" method="post" action="">
    <div class="widget widget-table">
        <div class="widget-header">
            <i class="icon-th-list"></i>
            <h3>主机号:{{ ip }}</h3>
        </div>
        <div class="widget-content">
            <table class="table table-striped table-bordered" table border="0" cellpadding="0" cellspacing="0"
                   id="tabProduct">
                <thead>
                <tr>
                    <td bgcolor="#EFEFEF" EditType="TextBox">状态</td>
                    <td bgcolor="#EFEFEF" EditType="TextBox">时间</td>
                </tr>
                </thead>
                <tbody> {% for data in thehistorydata %}
                    <tr>
                        <input type="hidden" value="" name="id"/>
                        <td bgcolor="#FFFFFF">{{ data.time }}</td>
                        <td bgcolor="#FFFFFF">{{ data.state }}</td>
                    </tr> {% endfor %} </tbody>
            </table>
        </div>
        <br/>
        <a href="/" type="button" name="Submit" class="btn btn-success pull-right">返回</a>
    </div>
</form>
</body>

</html>
