div,
p,
ul,
li,
span,
td,
th {
    font-size: 10pt;
    line-height: 155%;
}

td {
    margin-right: 50px !important
}

.widget {
    position: relative;
    clear: both;
    width: 800px !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.widget-header {
    position: relative;
    height: 40px;
    line-height: 40px;
    background: transparent -moz-linear-gradient(center top, #FAFAFA 0%, #E9E9E9 100%) repeat scroll 0% 0%;
    border: 1px solid #D5D5D5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.widget-header [class^="icon-"],
.widget-header [class*=" icon-"] {
    display: inline-block;
    margin-left: 13px;
    margin-right: -2px;
    font-size: 16px;
    color: #555;
    vertical-align: middle;
}

.widget-table .widget-content {
    padding: 0px;
}

.widget-header + .widget-content {
    border-top: medium none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.widget-content {
    width: 798px !important;
    padding: 20px 15px 15px;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
}

.widget-table .table {
    width: 800px !important;
    margin-bottom: 0px;
    border: medium none;
}

.widget-header h3 {
    position: relative;
    top: 2px;
    left: 10px;
    display: inline-block;
    margin-right: 3em;
    font-size: 14px;
    font-weight: 800;
    color: #555;
    line-height: 18px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    background: transparent url("../img/body-bg.png") repeat scroll 0px 0px;
    /*color: #333;*/
}

/*table{
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: none;
border-left-style: solid;
border-top-color: #CCCCCC;
border-right-color: #CCCCCC;
border-bottom-color: #CCCCCC;
border-left-color: #CCCCCC;
}  */

.table-bordered {
    border-collapse: separate;
}

.table th {
    font-weight: bold;
}

.table th,
.table td {
    padding: 8px;
    line-height: 18px;
    text-align: center;
    vertical-align: center;
    border-top: 1px solid #DDD;
}

td {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}

.EditCell_TextBox {
    width: 90%;
    border: 1px solid #0099CC;
}

.EditCell_DropDownList {
    width: 90%;
}

a[type="button"] {
    height: 20px;
    width: 40px;
    color: #FFF;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: #4A8BF4;
    background-repeat: repeat-x;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px !important;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

td.hidden {
    display: none !important;
    visibility: hidden !important;
}

a[type="button2"] {
    height: 20px;
    width: 80px;
    color: #FFF;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: #4A8BF4;
    background-repeat: repeat-x;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px !important;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

a.add2{
    width: 70px!important;
}